{% extends 'mainapp/base.html' %}

{% block title %}
<title>Контакты</title>
{% endblock %}

{% block header %}
<div class="container">
    <div class="hero">
        <div class="header clearfix">
            <a href="http://127.0.0.1:8000/" class="logo"></a>
						
			{% include 'mainapp/includes/inc_menu.html' %}		
				
			<a href="#" class="search"></a>
            <a href="#" class="basket"></a>
			</div>
{% endblock %}			
			
			
{% block content %}			
			
<h1>наши контакты</h1>
    </div>

		<div class="location">
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Санкт-Петербург</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-812-555-5555</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>info@geekshop.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>В пределах КАД</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Санкт-Петербург</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-812-555-5555</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>info@geekshop.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>В пределах КАД</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Санкт-Петербург</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-812-555-5555</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>info@geekshop.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>В пределах КАД</p>
				</div>
			</div>
		</div>

		<div class="clr"></div>
</div>	

    
{% endblock %}		
